/*-- Navbar --*/

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.pull-left img {
  height: 100px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #9d9d9d;
}

.nav li a:not(#circular-image):not(.bullet-a){
  line-height: 70px; /*vertically center menu items*/
  position: relative;
  display: block;
  text-align:center;
}

/* ----------------------- */

/* Subscribe to Newsweek */

.nav li #circular-image {
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-subscribe-to {
  width: 175px;
}
.wrapper {
  margin: 0 auto;
}

.banner-subscribe-to p {
  text-align: center;
  display: block;
}

.img-circle {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  vertical-align:middle;
  text-align: left;
  float: left;
}

.banner-subscribe-to span {
  padding-top: 10px;
  padding-left: 10px;
  display: table-cell;
  font-size: 15px;
  vertical-align:middle;
}

.banner-subscribe-to span::first-line {
  color:yellow;
}

/* ----------------------- */

/* Subscribe to Newsweek Dropdown*/

.navbar-right .dropdown-menu {
  position: absolute;
  top:100px;
  width: 425px;
  left:0px;
  z-index: 1;
  padding: 0;
}

.navbar-right .dropdown-menu h3{
  margin:0;
}

.add-padding li:not(#dropdown-img):not(.divider):not(#background-black){
  padding: 15px 25px 15px;
}

.dropdown-image {
  padding-top: 0;
  width: 422px;
  height: 220px;
}

.text {
  display: inline-block;
  width: 270px;
  vertical-align:middle;
  text-align: left;
}

.category {
  display: inline-block;
  font: 20px;
  color: #FF0500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.try {
  color: #fff;
  background-color: #ff0500;
  font-size: 16px;
  line-height: 50px;
  width: 75px;
}

.try:hover {
  opacity: 0.6;
}

#subscription-option {
  color: white;
  background-color: black;
  font-size: 16px;
  line-height: 50px;
  width: 100%;
}

#subscription-option:hover {
  opacity: 0.6;
}

#subscribe-form-li {
  background-color: #F7F7F7;
}

.subscribe-form {
  position: relative;
  padding-right: 104px;
}

.form-text{
  width: 100%;
  height: 50px;
  color: #666;
  text-indent: 19px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid rgba(24,24,24,0.15);
}

.subscribe-form .form-submit {
  width: 104px;
  position: absolute;
  right:0;
  top: 30px;
}

form .form-submit {
  height: 50px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  background-color: #666;
  border: 1px solid #666;
}

form .form-submit:hover {
  opacity: 0.6;
}
/* ----------------------- */

/* horizontal divider */
#divider-margin-0 {
  margin: 1px 0;
}

/* ----------------------- */
/* vertical divider */
.navbar .divider-vertical {
  height: 100px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
  border-right-color: #6f6f6f;
  border-left-color: #111111;
}

/* ----------------------- */

/* map marker */

.banner-width-set {
  width: 100px;
}

/* ----------------------- */

/* map marker Dropdown*/

.navbar-right .dropdown-style .dropdown-menu {
  position: absolute;
  top:100px;
  width: 425px;
  left:-210px;
  z-index: 1;
}

.heading-title {
  position: relative;
  text-align: center;
  color: #FF0500;
  padding: 30px 15px 20px;
  font-size:27px;
}

#countries table tr td{
  width: 158px;
  padding: 15px 25px 15px;
}

/* ----------------------- */

/* Sign In */

.banner-sign-in {
  width: 100px;
}

/* ----------------------- */

/* small screen navbar*/

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-collapse {
  padding-right: 0px;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-right {
  float: right!important;
}

@media (max-width: 767px){
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav {
    margin: 0px 15px;
  }
}
/* ----------------------- */

/* small screen search dropdown*/

.search-form {
  position: relative;
}

.form-text{
  width: 100%;
  height: 50px;
  color: #666;
  text-indent: 19px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid rgba(24,24,24,0.15);
}

.navbar-right .dropdown-style .dropdown-menu {
  background-color: #fff;
}

/* ----------------------- */

/* small screen hamburger dropdown*/

.navbar-right .dropdown-style-sm-hamburger .dropdown-menu {
  position: absolute;
  top:100px;
  width: 425px;
  left:-310px;
  z-index: 1;
  background-color: #fff;
}

#background-black table tr td{
  width: 158px;
}

#background-black{
  background-color: black;
}

/* ----------------------- */
